#main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 6rem auto;
}

#wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1.875rem;
}


#story{
    width: inherit;
    height: inherit;
    background-color: white;
    border: 1px solid rgb(220,220,220);
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;
    overflow-x: auto;
}

#story::-webkit-scrollbar{
    display: none;
}



.individualStory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.individualStory:hover{
    cursor: pointer;
}

.individualStory > img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    padding: 0.17rem;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.individualStory > p{
    margin-top: 0.4rem;
    font-size: 0.7rem;
    
}

.post{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background-color: black;
}


#right-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    /* border: 1px solid black; */
    padding-top: 1rem;
}


.switch{
    color: rgb(0, 149, 246);
    font-weight: 600;
    text-decoration: none;
    font-size: 0.8rem;
}

#Suggestions{
    margin-left: 0.3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#Suggestions > h5 {
    color: gray;
}

#Suggestions > h6:hover {
    cursor: pointer;
}

#accountDetails{
    margin-top:1rem ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.individualAccountDetails {
    margin-left: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.individualAccountDetails > img {
    display: block;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.individualAccountDetails > div > p {
    font-size: small;
    color: grey;
}

#links {
    margin-top: 2em;
}

#links > a {
    margin: 0.7rem;
    color: gray;
    font-size: 0.8rem;
    text-decoration: none;
}

#links > a:hover {
    text-decoration: underline;
}

#footer {
    margin-top: 0.7rem;
    color: gray;
    font-size: 0.7rem;
}